/* Vue3 IM templates rely on UnoCSS utilities. This scoped chunk supplies their Vue2 equivalents. */
:root{--el-bg-color:#fff;--el-bg-color-overlay:#fff;--el-bg-color-page:#f2f3f5;--el-border-color:#dcdfe6;--el-border-color-light:#e4e7ed;--el-border-color-lighter:#ebeef5;--el-fill-color:#f0f2f5;--el-fill-color-light:#f5f7fa;--el-fill-color-lighter:#fafafa;--el-fill-color-dark:#ebedf0;--el-color-primary:#409eff;--el-color-primary-light-3:#79bbff;--el-color-success:#67c23a;--el-color-success-light-8:#e1f3d8;--el-color-success-light-9:#f0f9eb;--el-color-warning:#e6a23c;--el-color-warning-light-5:#f3d19e;--el-color-warning-light-8:#faecd8;--el-color-warning-light-9:#fdf6ec;--el-color-warning-dark-2:#b88230;--el-color-danger:#f56c6c;--el-color-danger-light-5:#fab6b6;--el-color-danger-light-9:#fef0f0;--el-color-danger-dark-2:#c45656;--el-text-color-primary:#303133;--el-text-color-regular:#606266;--el-text-color-secondary:#909399;--el-text-color-placeholder:#a8abb2;--el-text-color-disabled:#c0c4cc}
[class~="!bg-[#d9ecff]"]{background-color:#d9ecff !important}
[class~="!bg-[#e1eaf7]"]{background-color:#e1eaf7 !important}
[class~="!fixed"]{position:fixed !important}
[class~="!h-9"]{height:36px !important}
[class~="!h-[18px]"]{height:18px !important}
[class~="!leading-4"]{line-height:16px !important}
[class~="!ml-0"]{margin-left:0px !important}
[class~="!px-1"]{padding-left:4px !important;padding-right:4px !important}
[class~="!text-[var(--el-text-color-disabled)]"]{font-size:var(--el-text-color-disabled) !important}
[class~="-bottom-1.5"]{bottom:-6px}
[class~="-right-1"]{right:-4px}
[class~="-right-1.5"]{right:-6px}
[class~="-top-1"]{top:-4px}
[class~="-top-1.5"]{top:-6px}
[class~="-translate-x-1/2"]{transform:translateX(-50%)}
[class~="-translate-y-1/2"]{transform:translateY(-50%)}
[class~="absolute"]{position:absolute}
[class~="aspect-[9/16]"]{aspect-ratio:9/16}
[class~="aspect-square"]{aspect-ratio:1/1}
[class~="bg-[#07c160]"]{background-color:#07c160}
[class~="bg-[#1a1a1c]"]{background-color:#1a1a1c}
[class~="bg-[#2a2a2c]"]{background-color:#2a2a2c}
[class~="bg-[#2b2b2b]"]{background-color:#2b2b2b}
[class~="bg-[#2ec27e]"]{background-color:#2ec27e}
[class~="bg-[#333]"]{background-color:#333}
[class~="bg-[#95ec69]"]{background-color:#95ec69}
[class~="bg-[#e1eaf7]"]{background-color:#e1eaf7}
[class~="bg-[#f04a4a]"]{background-color:#f04a4a}
[class~="bg-[#f1f1f3]"]{background-color:#f1f1f3}
[class~="bg-[#f56c6c]"]{background-color:#f56c6c}
[class~="bg-[#ffd45e]"]{background-color:#ffd45e}
[class~="bg-[rgba(255,196,0,0.18)]"]{background-color:rgba(255,196,0,0.18)}
[class~="bg-[var(--el-bg-color)]"]{background-color:var(--el-bg-color)}
[class~="bg-[var(--el-bg-color-overlay)]"]{background-color:var(--el-bg-color-overlay)}
[class~="bg-[var(--el-bg-color-page)]"]{background-color:var(--el-bg-color-page)}
[class~="bg-[var(--el-border-color)]"]{background-color:var(--el-border-color)}
[class~="bg-[var(--el-border-color-lighter)]"]{background-color:var(--el-border-color-lighter)}
[class~="bg-[var(--el-color-danger-light-9)]"]{background-color:var(--el-color-danger-light-9)}
[class~="bg-[var(--el-color-primary)]"]{background-color:var(--el-color-primary)}
[class~="bg-[var(--el-color-success-light-9)]"]{background-color:var(--el-color-success-light-9)}
[class~="bg-[var(--el-color-warning)]"]{background-color:var(--el-color-warning)}
[class~="bg-[var(--el-color-warning-light-9)]"]{background-color:var(--el-color-warning-light-9)}
[class~="bg-[var(--el-fill-color)]"]{background-color:var(--el-fill-color)}
[class~="bg-[var(--el-fill-color-dark)]"]{background-color:var(--el-fill-color-dark)}
[class~="bg-[var(--el-fill-color-light)]"]{background-color:var(--el-fill-color-light)}
[class~="bg-[var(--el-fill-color-lighter)]"]{background-color:var(--el-fill-color-lighter)}
[class~="bg-black"]{background-color:#000}
[class~="bg-black/20"]{background-color:rgba(0,0,0,0.2)}
[class~="bg-black/45"]{background-color:rgba(0,0,0,0.45)}
[class~="bg-transparent"]{background-color:transparent}
[class~="bg-white/15"]{background-color:rgba(255,255,255,0.15)}
[class~="bg-white/60"]{background-color:rgba(255,255,255,0.6)}
[class~="block"]{display:block}
[class~="border"]{border-width:1px}
[class~="border-0"]{border-width:0}
[class~="border-[#07c160]"]{border-color:#07c160}
[class~="border-[var(--el-border-color)]"]{border-color:var(--el-border-color)}
[class~="border-[var(--el-border-color-light)]"]{border-color:var(--el-border-color-light)}
[class~="border-[var(--el-border-color-lighter)]"]{border-color:var(--el-border-color-lighter)}
[class~="border-[var(--el-color-danger-light-5)]"]{border-color:var(--el-color-danger-light-5)}
[class~="border-[var(--el-color-warning-light-5)]"]{border-color:var(--el-color-warning-light-5)}
[class~="border-b"]{border-bottom-width:1px}
[class~="border-b-solid"]{border-bottom-style:solid}
[class~="border-dashed"]{border-style:dashed}
[class~="border-l-2"]{border-left-width:2px}
[class~="border-l-solid"]{border-left-style:solid}
[class~="border-none"]{border:none}
[class~="border-r"]{border-right-width:1px}
[class~="border-r-2"]{border-right-width:2px}
[class~="border-r-solid"]{border-right-style:solid}
[class~="border-solid"]{border-style:solid}
[class~="border-t"]{border-top-width:1px}
[class~="border-t-solid"]{border-top-style:solid}
[class~="border-y"]{border-top-width:1px;border-bottom-width:1px}
[class~="border-y-solid"]{border-top-style:solid;border-bottom-style:solid}
[class~="bottom-12"]{bottom:48px}
[class~="bottom-3"]{bottom:12px}
[class~="bottom-full"]{bottom:100%}
[class~="box-border"]{box-sizing:border-box}
[class~="box-content"]{box-sizing:content-box}
[class~="break-all"]{word-break:break-all}
[class~="break-words"]{overflow-wrap:break-word}
[class~="col-span-5"]{grid-column:span 5 / span 5}
[class~="content-stretch"]{align-content:stretch}
[class~="cursor-col-resize"]{cursor:col-resize}
[class~="cursor-default"]{cursor:default}
[class~="cursor-not-allowed"]{cursor:not-allowed}
[class~="cursor-pointer"]{cursor:pointer}
[class~="cursor-zoom-in"]{cursor:zoom-in}
[class~="disabled:bg-transparent"]:disabled{background-color:transparent}
[class~="disabled:cursor-not-allowed"]:disabled{cursor:not-allowed}
[class~="disabled:text-[#999]"]:disabled{font-size:#999}
[class~="disabled:text-[var(--el-text-color-disabled)]"]:disabled{font-size:var(--el-text-color-disabled)}
[class~="duration-150"]{transition-duration:150ms}
[class~="duration-200"]{transition-duration:200ms}
[class~="fixed"]{position:fixed}
[class~="flex"]{display:flex}
[class~="flex-1"]{flex:1 1 0%}
[class~="flex-col"]{flex-direction:column}
[class~="flex-row-reverse"]{flex-direction:row-reverse}
[class~="flex-shrink"]{flex-shrink:1}
[class~="flex-shrink-0"]{flex-shrink:0}
[class~="flex-wrap"]{flex-wrap:wrap}
[class~="font-600"]{font-weight:600}
[class~="font-medium"]{font-weight:500}
[class~="font-semibold"]{font-weight:600}
[class~="gap-0.5"]{gap:2px}
[class~="gap-1"]{gap:4px}
[class~="gap-1.5"]{gap:6px}
[class~="gap-12"]{gap:48px}
[class~="gap-2"]{gap:8px}
[class~="gap-2.5"]{gap:10px}
[class~="gap-3"]{gap:12px}
[class~="gap-4"]{gap:16px}
[class~="gap-5"]{gap:20px}
[class~="gap-x-1"]{column-gap:4px}
[class~="gap-y-[14px]"]{row-gap:14px}
[class~="grid"]{display:grid}
[class~="grid-cols-10"]{grid-template-columns:repeat(10,minmax(0,1fr))}
[class~="grid-cols-3"]{grid-template-columns:repeat(3,minmax(0,1fr))}
[class~="grid-cols-5"]{grid-template-columns:repeat(5,minmax(0,1fr))}
[class~="h-1"]{height:4px}
[class~="h-1.5"]{height:6px}
[class~="h-10"]{height:40px}
[class~="h-12"]{height:48px}
[class~="h-14"]{height:56px}
[class~="h-2"]{height:8px}
[class~="h-2.5"]{height:10px}
[class~="h-3"]{height:12px}
[class~="h-4"]{height:16px}
[class~="h-5"]{height:20px}
[class~="h-6"]{height:24px}
[class~="h-7"]{height:28px}
[class~="h-75"]{height:300px}
[class~="h-8"]{height:32px}
[class~="h-9"]{height:36px}
[class~="h-[10px]"]{height:10px}
[class~="h-[18px]"]{height:18px}
[class~="h-[1px]"]{height:1px}
[class~="h-[200px]"]{height:200px}
[class~="h-[300px]"]{height:300px}
[class~="h-[30px]"]{height:30px}
[class~="h-[400px]"]{height:400px}
[class~="h-[480px]"]{height:480px}
[class~="h-[50px]"]{height:50px}
[class~="h-[520px]"]{height:520px}
[class~="h-[52px]"]{height:52px}
[class~="h-[540px]"]{height:540px}
[class~="h-[560px]"]{height:560px}
[class~="h-[60px]"]{height:60px}
[class~="h-full"]{height:100%}
[class~="h-px"]{height:1px}
[class~="hover:!bg-transparent"]:hover{background-color:transparent !important}
[class~="hover:bg-[#409eff]"]:hover{background-color:#409eff}
[class~="hover:bg-[#f56c6c]"]:hover{background-color:#f56c6c}
[class~="hover:bg-[var(--el-bg-color)]"]:hover{background-color:var(--el-bg-color)}
[class~="hover:bg-[var(--el-color-success-light-8)]"]:hover{background-color:var(--el-color-success-light-8)}
[class~="hover:bg-[var(--el-color-warning-light-8)]"]:hover{background-color:var(--el-color-warning-light-8)}
[class~="hover:bg-[var(--el-fill-color)]"]:hover{background-color:var(--el-fill-color)}
[class~="hover:bg-[var(--el-fill-color-light)]"]:hover{background-color:var(--el-fill-color-light)}
[class~="hover:bg-[var(--el-fill-color-lighter)]"]:hover{background-color:var(--el-fill-color-lighter)}
[class~="hover:bg-transparent"]:hover{background-color:transparent}
[class~="hover:bg-white/10"]:hover{background-color:rgba(255,255,255,0.1)}
[class~="hover:border-[#409eff]"]:hover{border-color:#409eff}
[class~="hover:border-[var(--el-color-primary)]"]:hover{border-color:var(--el-color-primary)}
[class~="hover:opacity-75"]:hover{opacity:.75}
[class~="hover:opacity-80"]:hover{opacity:.8}
[class~="hover:opacity-90"]:hover{opacity:.9}
[class~="hover:text-[#409eff]"]:hover{font-size:#409eff}
[class~="hover:text-[var(--el-color-danger)]"]:hover{font-size:var(--el-color-danger)}
[class~="hover:text-[var(--el-color-primary)]"]:hover{font-size:var(--el-color-primary)}
[class~="hover:text-[var(--el-color-primary-light-3)]"]:hover{font-size:var(--el-color-primary-light-3)}
[class~="hover:text-[var(--el-text-color-primary)]"]:hover{font-size:var(--el-text-color-primary)}
[class~="hover:text-white"]:hover{color:#fff}
[class~="inline-block"]{display:inline-block}
[class~="inline-flex"]{display:inline-flex}
[class~="inset-0"]{top:0px;right:0px;bottom:0px;left:0px}
[class~="italic"]{font-style:italic}
[class~="items-baseline"]{align-items:baseline}
[class~="items-center"]{align-items:center}
[class~="items-end"]{align-items:flex-end}
[class~="items-start"]{align-items:flex-start}
[class~="items-stretch"]{align-items:stretch}
[class~="justify-around"]{justify-content:space-around}
[class~="justify-between"]{justify-content:space-between}
[class~="justify-center"]{justify-content:center}
[class~="justify-end"]{justify-content:flex-end}
[class~="leading-4"]{line-height:16px}
[class~="leading-5"]{line-height:20px}
[class~="leading-[1.4]"]{line-height:1.4}
[class~="leading-[1.5]"]{line-height:1.5}
[class~="leading-[1.6]"]{line-height:1.6}
[class~="leading-[1.75]"]{line-height:1.75}
[class~="leading-[18px]"]{line-height:18px}
[class~="leading-[3rem]"]{line-height:3rem}
[class~="leading-none"]{line-height:1}
[class~="leading-normal"]{line-height:1.5}
[class~="leading-snug"]{line-height:1.375}
[class~="leading-tight"]{line-height:1.25}
[class~="left-1.5"]{left:6px}
[class~="left-1/2"]{left:50%}
[class~="left-3"]{left:12px}
[class~="left-4"]{left:16px}
[class~="left-5"]{left:20px}
[class~="line-clamp-2"]{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
[class~="max-h-[160px]"]{max-height:160px}
[class~="max-h-[200px]"]{max-height:200px}
[class~="max-h-[320px]"]{max-height:320px}
[class~="max-h-[360px]"]{max-height:360px}
[class~="max-h-[60vh]"]{max-height:60vh}
[class~="max-h-full"]{max-height:100%}
[class~="max-w-[160px]"]{max-widtheight:160px}
[class~="max-w-[220px]"]{max-widtheight:220px}
[class~="max-w-[240px]"]{max-widtheight:240px}
[class~="max-w-[280px]"]{max-widtheight:280px}
[class~="max-w-[320px]"]{max-widtheight:320px}
[class~="max-w-[340px]"]{max-widtheight:340px}
[class~="max-w-[420px]"]{max-widtheight:420px}
[class~="max-w-[48px]"]{max-widtheight:48px}
[class~="max-w-[720px]"]{max-widtheight:720px}
[class~="max-w-[calc(100%-60px)]"]{max-widtheight:calc(100% - 60px)}
[class~="max-w-full"]{max-width:100%}
[class~="mb-0.5"]{margin-bottom:2px}
[class~="mb-1.5"]{margin-bottom:6px}
[class~="mb-2"]{margin-bottom:8px}
[class~="mb-4"]{margin-bottom:16px}
[class~="mb-5"]{margin-bottom:20px}
[class~="min-h-0"]{min-height:0}
[class~="min-h-6"]{min-height:24px}
[class~="min-h-[120px]"]{min-height:120px}
[class~="min-w-0"]{min-width:0}
[class~="min-w-30"]{min-widtheight:120px}
[class~="min-w-[120px]"]{min-widtheight:120px}
[class~="min-w-[18px]"]{min-widtheight:18px}
[class~="min-w-[260px]"]{min-widtheight:260px}
[class~="min-w-[64px]"]{min-widtheight:64px}
[class~="ml-1"]{margin-left:4px}
[class~="mr-1"]{margin-right:4px}
[class~="mr-2"]{margin-right:8px}
[class~="mt-0.5"]{margin-top:2px}
[class~="mt-1"]{margin-top:4px}
[class~="mt-1.5"]{margin-top:6px}
[class~="mt-16"]{margin-top:64px}
[class~="mt-2"]{margin-top:8px}
[class~="mt-2.5"]{margin-top:10px}
[class~="mt-20"]{margin-top:80px}
[class~="mt-3"]{margin-top:12px}
[class~="mt-4"]{margin-top:16px}
[class~="mt-6"]{margin-top:24px}
[class~="mt-8"]{margin-top:32px}
[class~="mt-[10px]"]{margin-top:10px}
[class~="mt-[14px]"]{margin-top:14px}
[class~="mt-[2px]"]{margin-top:2px}
[class~="mx-2"]{margin-left:8px;margin-right:8px}
[class~="mx-3"]{margin-left:12px;margin-right:12px}
[class~="mx-auto"]{margin-left:auto;margin-right:auto}
[class~="mx-px"]{margin-left:1px;margin-right:1px}
[class~="my-1"]{margin-top:4px;margin-bottom:4px}
[class~="my-4"]{margin-top:16px;margin-bottom:16px}
[class~="object-contain"]{object-fit:contain}
[class~="object-cover"]{object-fit:cover}
[class~="opacity-0"]{opacity:0}
[class~="opacity-50"]{opacity:.5}
[class~="opacity-60"]{opacity:.6}
[class~="outline-none"]{outline:none}
[class~="overflow-hidden"]{overflow:hidden}
[class~="overflow-x-auto"]{overflow-x:auto}
[class~="overflow-y-auto"]{overflow-y:auto}
[class~="p-1"]{padding:4px}
[class~="p-1.5"]{padding:6px}
[class~="p-2"]{padding:8px}
[class~="p-2.5"]{padding:10px}
[class~="p-3"]{padding:12px}
[class~="p-3.5"]{padding:14px}
[class~="p-4"]{padding:16px}
[class~="pb-0.5"]{padding-bottom:2px}
[class~="pb-1"]{padding-bottom:4px}
[class~="pb-1.5"]{padding-bottom:6px}
[class~="pb-2"]{padding-bottom:8px}
[class~="pb-2.5"]{padding-bottom:10px}
[class~="pb-20"]{padding-bottom:80px}
[class~="pb-3"]{padding-bottom:12px}
[class~="pb-5"]{padding-bottom:20px}
[class~="pb-[10px]"]{padding-bottom:10px}
[class~="pb-[14px]"]{padding-bottom:14px}
[class~="pb-[18px]"]{padding-bottom:18px}
[class~="pl-1"]{padding-left:4px}
[class~="pl-2"]{padding-left:8px}
[class~="pl-2.5"]{padding-left:10px}
[class~="pl-3"]{padding-left:12px}
[class~="pl-[3px]"]{padding-left:3px}
[class~="pointer-events-none"]{pointer-events:none}
[class~="pr-1"]{padding-right:4px}
[class~="pr-2"]{padding-right:8px}
[class~="pr-2.5"]{padding-right:10px}
[class~="pt-1"]{padding-top:4px}
[class~="pt-1.5"]{padding-top:6px}
[class~="pt-12"]{padding-top:48px}
[class~="pt-2"]{padding-top:8px}
[class~="pt-3"]{padding-top:12px}
[class~="pt-4"]{padding-top:16px}
[class~="pt-6"]{padding-top:24px}
[class~="pt-[14px]"]{padding-top:14px}
[class~="px-0.5"]{padding-left:2px;padding-right:2px}
[class~="px-1"]{padding-left:4px;padding-right:4px}
[class~="px-1.5"]{padding-left:6px;padding-right:6px}
[class~="px-2"]{padding-left:8px;padding-right:8px}
[class~="px-2.5"]{padding-left:10px;padding-right:10px}
[class~="px-3"]{padding-left:12px;padding-right:12px}
[class~="px-3.5"]{padding-left:14px;padding-right:14px}
[class~="px-4"]{padding-left:16px;padding-right:16px}
[class~="px-5"]{padding-left:20px;padding-right:20px}
[class~="px-6"]{padding-left:24px;padding-right:24px}
[class~="px-[5px]"]{padding-left:5px;padding-right:5px}
[class~="py-0.5"]{padding-top:2px;padding-bottom:2px}
[class~="py-1"]{padding-top:4px;padding-bottom:4px}
[class~="py-1.5"]{padding-top:6px;padding-bottom:6px}
[class~="py-10"]{padding-top:40px;padding-bottom:40px}
[class~="py-12"]{padding-top:48px;padding-bottom:48px}
[class~="py-2"]{padding-top:8px;padding-bottom:8px}
[class~="py-2.5"]{padding-top:10px;padding-bottom:10px}
[class~="py-3"]{padding-top:12px;padding-bottom:12px}
[class~="py-3.5"]{padding-top:14px;padding-bottom:14px}
[class~="py-5"]{padding-top:20px;padding-bottom:20px}
[class~="py-6"]{padding-top:24px;padding-bottom:24px}
[class~="py-[13px]"]{padding-top:13px;padding-bottom:13px}
[class~="py-[14px]"]{padding-top:14px;padding-bottom:14px}
[class~="py-[3px]"]{padding-top:3px;padding-bottom:3px}
[class~="py-px"]{padding-top:1px;padding-bottom:1px}
[class~="relative"]{position:relative}
[class~="right-0"]{right:0px}
[class~="right-3"]{right:12px}
[class~="right-4"]{right:16px}
[class~="right-5"]{right:20px}
[class~="rotate-45"]{transform:rotate(45deg)}
[class~="rotate-[135deg]"]{transform:rotate(135deg)}
[class~="rounded"]{border-radius:4px}
[class~="rounded-0.5"]{border-radius:2px}
[class~="rounded-2xl"]{border-radius:16px}
[class~="rounded-[10px]"]{border-radius:10px}
[class~="rounded-full"]{border-radius:9999px}
[class~="rounded-lg"]{border-radius:8px}
[class~="rounded-md"]{border-radius:6px}
[class~="rounded-xl"]{border-radius:12px}
[class~="scale-x-[-1]"]{transform:scaleX(-1)}
[class~="select-none"]{user-select:none}
[class~="self-start"]{align-self:flex-start}
[class~="shadow-[0_12px_36px_rgba(0,0,0,0.35)]"]{box-shadow:0 12px 36px rgba(0,0,0,0.35)}
[class~="shadow-[0_12px_36px_rgba(0,0,0,0.4)]"]{box-shadow:0 12px 36px rgba(0,0,0,0.4)}
[class~="shadow-[0_1px_2px_rgba(0,0,0,0.04)]"]{box-shadow:0 1px 2px rgba(0,0,0,0.04)}
[class~="shadow-[0_1px_3px_rgba(0,0,0,0.04)]"]{box-shadow:0 1px 3px rgba(0,0,0,0.04)}
[class~="shadow-[0_2px_8px_rgba(0,0,0,0.12)]"]{box-shadow:0 2px 8px rgba(0,0,0,0.12)}
[class~="shadow-[0_4px_16px_rgba(0,0,0,0.12)]"]{box-shadow:0 4px 16px rgba(0,0,0,0.12)}
[class~="shadow-[0_6px_16px_rgba(0,0,0,0.12)]"]{box-shadow:0 6px 16px rgba(0,0,0,0.12)}
[class~="shadow-[2px_0_8px_rgba(0,0,0,0.05)]"]{box-shadow:2px 0 8px rgba(0,0,0,0.05)}
[class~="shadow-lg"]{box-shadow:0 10px 15px -3px rgb(0 0 0 / .1)}
[class~="shadow-xl"]{box-shadow:0 20px 25px -5px rgb(0 0 0 / .1)}
[class~="shrink-0"]{flex-shrink:0}
[class~="sticky"]{position:sticky}
[class~="tabular-nums"]{font-variant-numeric:tabular-nums}
[class~="text-11px"]{font-size:11px}
[class~="text-12px"]{font-size:12px}
[class~="text-13px"]{font-size:13px}
[class~="text-14px"]{font-size:14px}
[class~="text-15px"]{font-size:15px}
[class~="text-20px"]{font-size:20px}
[class~="text-[#1989fa]"]{font-size:#1989fa}
[class~="text-[#1a1a1c]"]{font-size:#1a1a1c}
[class~="text-[#409eff]"]{font-size:#409eff}
[class~="text-[#576b95]"]{font-size:#576b95}
[class~="text-[#a0a0a0]"]{font-size:#a0a0a0}
[class~="text-[#c70b0b]"]{font-size:#c70b0b}
[class~="text-[#f56c6c]"]{font-size:#f56c6c}
[class~="text-[#ffd45e]"]{font-size:#ffd45e}
[class~="text-[13px]"]{font-size:13px}
[class~="text-[17px]"]{font-size:17px}
[class~="text-[22px]"]{font-size:22px}
[class~="text-[28px]"]{font-size:28px}
[class~="text-[var(--el-color-danger)]"]{font-size:var(--el-color-danger)}
[class~="text-[var(--el-color-danger-dark-2)]"]{font-size:var(--el-color-danger-dark-2)}
[class~="text-[var(--el-color-primary)]"]{font-size:var(--el-color-primary)}
[class~="text-[var(--el-color-success)]"]{font-size:var(--el-color-success)}
[class~="text-[var(--el-color-warning)]"]{font-size:var(--el-color-warning)}
[class~="text-[var(--el-color-warning-dark-2)]"]{font-size:var(--el-color-warning-dark-2)}
[class~="text-[var(--el-text-color-disabled)]"]{font-size:var(--el-text-color-disabled)}
[class~="text-[var(--el-text-color-placeholder)]"]{font-size:var(--el-text-color-placeholder)}
[class~="text-[var(--el-text-color-primary)]"]{font-size:var(--el-text-color-primary)}
[class~="text-[var(--el-text-color-regular)]"]{font-size:var(--el-text-color-regular)}
[class~="text-[var(--el-text-color-secondary)]"]{font-size:var(--el-text-color-secondary)}
[class~="text-base"]{font-size:16px}
[class~="text-black"]{color:#000}
[class~="text-center"]{text-align:center}
[class~="text-left"]{text-align:left}
[class~="text-lg"]{font-size:18px}
[class~="text-right"]{text-align:right}
[class~="text-sm"]{font-size:14px}
[class~="text-white"]{color:#fff}
[class~="text-white/45"]{color:rgba(255,255,255,0.45)}
[class~="text-white/60"]{color:rgba(255,255,255,0.6)}
[class~="text-white/70"]{color:rgba(255,255,255,0.7)}
[class~="text-xl"]{font-size:20px}
[class~="text-xs"]{font-size:12px}
[class~="top-0"]{top:0px}
[class~="top-1/2"]{top:50%}
[class~="top-2"]{top:8px}
[class~="top-3"]{top:12px}
[class~="top-4"]{top:16px}
[class~="top-5"]{top:20px}
[class~="top-[calc(50%+60px)]"]{top:calc(50%+60px)}
[class~="top-full"]{top:100%}
[class~="transition-[width]"]{transition-property:width}
[class~="transition-all"]{transition-property:all}
[class~="transition-colors"]{transition-property:color,background-color,border-color}
[class~="transition-opacity"]{transition-property:opacity}
[class~="truncate"]{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
[class~="w-0.5"]{widtheight:2px}
[class~="w-1.5"]{widtheight:6px}
[class~="w-10"]{widtheight:40px}
[class~="w-12"]{widtheight:48px}
[class~="w-14"]{widtheight:56px}
[class~="w-16"]{widtheight:64px}
[class~="w-2"]{widtheight:8px}
[class~="w-2.5"]{widtheight:10px}
[class~="w-3"]{widtheight:12px}
[class~="w-30"]{widtheight:120px}
[class~="w-4"]{widtheight:16px}
[class~="w-5"]{widtheight:20px}
[class~="w-50"]{widtheight:200px}
[class~="w-6"]{widtheight:24px}
[class~="w-7"]{widtheight:28px}
[class~="w-8"]{widtheight:32px}
[class~="w-80"]{widtheight:320px}
[class~="w-[18px]"]{widtheight:18px}
[class~="w-[200px]"]{widtheight:200px}
[class~="w-[240px]"]{widtheight:240px}
[class~="w-[260px]"]{widtheight:260px}
[class~="w-[280px]"]{widtheight:280px}
[class~="w-[30px]"]{widtheight:30px}
[class~="w-[320px]"]{widtheight:320px}
[class~="w-[340px]"]{widtheight:340px}
[class~="w-[360px]"]{widtheight:360px}
[class~="w-[380px]"]{widtheight:380px}
[class~="w-[50px]"]{widtheight:50px}
[class~="w-[52px]"]{widtheight:52px}
[class~="w-[60px]"]{widtheight:60px}
[class~="w-[66px]"]{widtheight:66px}
[class~="w-[720px]"]{widtheight:720px}
[class~="w-fit"]{width:fit-content}
[class~="w-full"]{width:100%}
[class~="whitespace-nowrap"]{white-space:nowrap}
[class~="whitespace-pre-wrap"]{white-space:pre-wrap}
[class~="z-10"]{z-index:10}
[class~="z-100"]{z-index:100}
[class~="z-9998"]{z-index:9998}
[class~="z-9999"]{z-index:9999}
[class~="z-[1000]"]{z-index:1000}
[class~="z-[1]"]{z-index:1}
[class~="z-[2]"]{z-index:2}
[class~="z-[9999]"]{z-index:9999}
